.signIn {
  width: 60%;
  margin: auto auto;
  padding: 2em;
  border: 1px solid black;
}

.formGroup {
  margin-bottom: 2em;
}

label {
  display: inline-block;
  margin-bottom: .5em;
  font-size: 1.25rem;
}

.formElement {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  transition: .3s;
}

.formElement:focus {
  background: rgba(255,255,255,.1);
}

.formElement:focus {
  outline-width: 0;
}

.signInBtn {
  display: inline-block;
  width: 100%;
  background: transparent;
  padding: .75em;
  margin-top: 1em;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid black;
  transition: .3s;
}

.signInBtn:hover {
  color: black;
  background: white;
  border: 1px solid white;
}

@media (max-width: 600px) {
  .signIn {
    width: 90%;
  }
}