.imageLinkForm {
  text-align: center;
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

#imageUrl {
  text-align: center;
  padding: .75em 2em;
  font-size: 1.25rem;
  width: 65%;
  display: block;
  margin: 2em auto;
  border: 1px solid black;
  background: transparent;
  transition: .3s;
}

#imageUrl:focus {
  background: white;
}

#imageUrl::placeholder {
  color: black;
}

.uploadBtn {
  background: transparent;
  padding: .75em 3em;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid black;
  transition: .3s;
}

.uploadBtn:hover {
  color: black;
  background: white;
  border: 1px solid white;
}

@media (max-width: 600px) {
  #imageUrl {
    width: 100%;
  }

  .uploadBtn {
    width: 100%;
  }
}

