.signOutBtn {
  display: inline-block;
  background: transparent;
  padding: .75em;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid black;
  transition: .3s;
}

.signOutBtn:hover {
  color: black;
  background: white;
  border: 1px solid white;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .signOutBtn:hover {
    transform: none;
  }
}
